* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(0, 0, 0)!important;
    height: 10vh;
}

.nav-link {
    color: aliceblue;
}

#logo {
    width: 6%;
    margin-right: 3%;
}

.titulos {
    font-family: 'Times New Roman', Times, serif;
}

.card {
    background-color: gray;
    transition: transform 0.2s ease-in, box-shadow 0.5s ease;
    margin: 20px;
    
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(209, 205, 205, 0.3);
}

.carrocarro {
    font-size: 100px;
}

.tudao {
    min-height: 400vh;
    background: linear-gradient(135deg, #000000c0, #1d2f55, #b2acc7, #52617c);
    background-size: 1000% 1000%;
    animation: gradientShift 15s ease infinite;
    color: #fff; 
    display: flex;
    flex-direction: column;
}


@keyframes gradientShift {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.botaocomprar {
    background-color: #29634b!important;
    margin: 3px;
}



.card-title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-shadow: 0px 8px 20px ;
}

.nav-link:hover{
    color: #b2acc7;

}


.texto-responsivo {
    font-size: clamp(14px, 3vw, 20px);
}